# Data Science Ecosystem

## In this notebook, datascience tools and ecosystem are summarized

### Objectives:
* Listing Data Science Languages
* Listing Data Science Libraries
* Performing Arithmetic extpression
* Listing Data Science Open source Tools

### Some of the Popular languages that Data Scientist use are:
1. Python
2. R
3. Java
4. C++

### Some of the common used libraries used by data scientist include:
* Matlotlib
* Pandas
* Numpy
* ggplot
* Seaborn
* plotly
* Geopandas

<table> 
    <tr>
        <th>Data Science Tools: </th>
    </tr>
    <tr>
        <td>Hadoop</td>  
    </tr>
    <tr>
        <td>Ml Flow</td>
    </tr>
     <tr>
        <td>Tensorflow</td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in python

In [11]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by dividing my 60
200/60

3.3333333333333335

## Author
Alban Manishimwe